$orange:                 #fb701f;
$cyan:                   #56b6c2;
$blue:                   #135ccf;
$purple:                 #9f00bd;
$green:                  #98c379;
$red:                    #ca1243;
$gray:                   #abb2bf;
$illegal-red:            #e05252;
$rust-green:             #56b6c2;
$interpolation-red:      #be5046;

nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li { display: inline-block; }

  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
  }
}
